@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic-ext);

@import "./blocks/header.css";
@import "./blocks/tabcontent.css";
@import "./blocks/offer.css";
@import "./blocks/calculator.css";
@import "./blocks/menu.css";
@import "./blocks/sidepanel.css";
@import "./blocks/order.css";
@import "./blocks/promotion.css";
@import "./blocks/footer.css";
@import "./blocks/modal.css";
@import "./blocks/basics.css";


html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif
}

a {
    text-decoration: none
}

